body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #fdb0c0;
}

.app {
  text-align: center;
}

.heart {
  font-size: 3rem;
  cursor: pointer;
}

.message {
  margin-top: 20px;
  font-style: italic;
}

.image-container {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap to the next line */
  gap: 10px;
  max-width: 800px; /* Set your desired maximum width */
  overflow: auto;
}

img {
  cursor: pointer;
  border: 2px solid transparent;
}

img.selected {
  border-color: blue;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}